/* div{
    display: inline-block;

    width: 26.6%;

    height: 400px;

    border: 1px solid blue;

    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 5%;

} */
html, 
body {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    background-color: burlywood ;
  }
  .main {
    height: 40vh;
    width: 95vw;
    position: relative;
  }
  .d1 {
    position: absolute;
    background-image: url(https://newevolutiondesigns.com/images/freebies/4k-wallpaper-3.jpg);
    background-size: 2700px 1500px;
  
    height: 30vh;
    width: 15vw;
  
    background-position: 0 50%;
  
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    animation: dd1 10s 1, dd12 10s 1;
    animation-delay: 4s, 14s;
  }
  .d2 {
    position: absolute;
    background-image: url(https://newevolutiondesigns.com/images/freebies/4k-wallpaper-3.jpg);
    background-size: 2700px 1500px;
  
    height: 50vh;
    width: 25vw;
  
    background-position: -10vw 50%;
    left: 10vw;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 2;
    animation-delay: 4s;
  }
  .d3 {
    position: absolute;
    background-image: url(https://newevolutiondesigns.com/images/freebies/4k-wallpaper-3.jpg);
    background-size: 2700px 1500px;
    overflow: hidden;
  
    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd3 10s 2;
    animation-delay: 4s;
  }
  .d4 {
    position: absolute;
    overflow: hidden;
    background-image: url(https://newevolutiondesigns.com/images/freebies/4k-wallpaper-3.jpg);
    background-size: 2700px 1500px;
  
    height: 80vh;
    width: 25vw;
    left: 60vw;
    background-position: -70vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 2;
    animation-delay: 4s;
  }
  
  @keyframes dd1 {
    0% {
    }
    50% {
      width: 95vw;
    }
  }
  @keyframes dd12 {
    0% {
    }
    50% {
      background-position: Calc(0vw - 40px) 50%;
    }
  }
  @keyframes dd2 {
    0% {
    }
    50% {
      background-position: Calc(-10vw - 40px) 50%;
    }
  }
  @keyframes dd3 {
    0% {
    }
    50% {
      background-position: Calc(-35vw - 40px) 50%;
    }
  }
  @keyframes dd4 {
    0% {
    }
    50% {
      background-position: Calc(-70vw - 40px) 50%;
    }
  }
  #click{

   color: rgb(117, 23, 42);
   padding: 8px;
  }

  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  .first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
  }
  .fourth {
    border-color: #f1c40f;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }
  ​
  
  
  

